
body {
    background-color: rgb(31,31,31);
    font-family: fira sans;
}
.dialogue {
    border: 3px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    user-select: none;
    display: block;
    width: 700px;
    height: 200px;
    font-size: 16px;
    color: rgb(105, 100, 100);
    resize: none;
}
.players {
    display: inline-block;
    border: 3px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    padding-right: 100px;
    position: relative;
    padding-bottom: 10px;
    color: white;
}
.WPM {
    display: inline-block;
    border: 3px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    position: relative;
    padding-right: 100px;
    padding-top: 7px;
    padding-bottom: 12px;
    color: white;
}
.player2 {
    margin-top: 300px;
}
.cursor {
    background-color: rgba(0, 174, 255, 0.397);
}
.done {
    color: rgba(61, 104, 71, 0.733);
}
/*  Graveyard 
    .inputtype {
    border: 3px;
    border-style: solid;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: fira sans;
    border-color: rgb(172, 172, 172);
    background-color: rgb(31,31,31, 0);
    resize: none;
    width: 700px;
    height: 200px;
    resize: none;
} */
/* #p1-type {
    position: fixed;
}
#p2-type {
    position: fixed;
} */